/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Fallback color: black w/ opacity */
  min-width: 622px;
}
  
/* Modal Content/Box */
.modal-content {
  background-color: #40E0D0;
  margin: 100px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #222;
  border-radius: 5%;
  position: relative;
  width: 35%; /* Could be more or less, depending on screen size */
  height: 50%;
}

.title {
  margin: 20px auto;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  color: 	#C71585;
}

.input-name {
  font-family: cursive;
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
  margin: 15px auto;
  color: #e6a977;
  border-radius: 50px;
  text-align: center;
  outline: none;
  padding: 50px auto;
  border: 1px cornflowerblue dotted;
}

.button-submit {
  align-content: center;
  width: 100%;
}

.bt {
  background-color: #0fa8f1;
  color: white;
  border-radius: 30px;
  margin: 10px auto;
  width: 100px;
  height: 40px;
  border: none;
  display: block;
}

.control-rank {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
}

.modal-table-content {
  background-color: #f7f7f7;
  background: linear-gradient(to right, #25c481, #25b7c4);
  margin: 100px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid rgb(240, 212, 90);
  overflow: auto; /* Enable scroll if needed */
  width: 60%; /* Could be more or less, depending on screen size */
  height: 60%;
  font-family: cursive;
  font-size: 30px;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
  height: 90%;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.ranking {
  width: 100%;
}

.ranking thead{
  background-color: #76d7bf;
  position: sticky;
  top: -20px;
  z-index: 1;
}

.ranking > *{
  height: 30px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

.ranking th{
  padding: 0 15px;
  text-align: center;
  font-weight: bolder;
  color: #567782;
  text-transform: uppercase;
  position: sticky;
}

.ranking td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}